header{
    text-align: center;
    background-color: salmon;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 1px;
    padding-top: 1px;
}
h1{
    font-family: fantasy;
}
.img1{
    width: 300px;
    margin-top: 5px;
    }
.img3{
    width: 300px;
    margin-top: 5px;
}
.img4{
    width: 300px;
    float: right;
}
.img5{
    width: 300px;
}
h3{
    display: inline-block;
}
p{
    display: inline-block;
}
body{
    border: double;
    margin: 10px;
    background-color: aquamarine;
}
section{
    text-align: center;
}
#codeimage{
    margin-top: 8px;
    margin-left: 270px;
}